body {
	background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);	
	background-position: center;
	text-align: center;
	color: black;
	margin: 0;
}

.face {
	height: 300px;
	border-radius: 20px;
	border: 2px solid rgba(0,0,0,0.5);
	margin: 50px;
}

.menu {
    padding: 10px;
    background: rgba(0,0,0,0.5);
	margin: 0;
	font-size: 20px;
}
.item {
    display: inline;
    padding: 0px 10px 0px 10px;
}

.context {	
	width: 600px;
	float: left;
	margin: 30px;
}

.photo {
	height: 200px;
	margin: 40px;
}

.video {
	margin: 10px;
}

.plotim {
	width: 500px;
	margin: 45px;
}

p {
	padding: 30px;
	text-align: center;
}

h1 {
	font-size: 40px; 
}

 @media (max-width: 500px){
h1 {
	font-size: 36px; 
}
 
li {
    display: block;
    padding: 5px;
}